.checkout-container {
    width: 55%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto 0;
  
    .checkout-header {
      width: 100%;
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid darkgrey;
  
      .header-block {
        text-transform: capitalize;
        width: 23%;
  
        &:last-child {
          width: 8%;
        }
      }
    }
  }

  .checkout-total {
    font-size: 36px;
    text-transform: capitalize;
    position: fixed;
    bottom: 80px;
    right: 100px;
  }


  @media only screen and (max-width: 800px) {
    .checkout-container {
      margin: 50px 0 auto 0;
      width: 100%;
      overflow-x: auto;
      column-gap: 10px;
    }
  }

  @media only screen and (max-width: 800px) {
    .checkout-total-container {
      text-align: center;

      .checkout-total {
        display: inline-block;
        text-align: center;
        position: static;
        margin-top: auto;
      }
    }
  }