.sign-up-container {
    display: flex;
    flex-direction: column;
    width: 380px;

    h2 {
        margin: 10px 0;
    }

    .button-container {
        display: flex;
        justify-content: space-between;
        gap: 15px;
    }
}


@media only screen and (max-width: 600px) {
    .sign-up-container {
        width: 100%;
        .button-container {
            .button {
                padding: 0 10px 0 10px;
                min-width: 120px;
            }
        }
    }
  }